
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top:0;
    margin-bottom: 0;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}
img { display: block;
     max-width: 100%;
    height: auto; }


ul { list-style-type: none; }

body {
    background: #FFF;
    color: #434455; 
    font-family: Roboto, sans-serif;}

a {text-decoration: none;}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px; }

.one-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:  0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
     }
.one-header-container {
    display: flex;
    justify-content: space-between;
    
 }
 
.header-nav {
    display: flex;
    align-items: center; }

.list-nav {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32em;
    display: flex;
    gap: 40px;
 }

.list-nav-one :last-child {
    margin-right: 0; }

.list-nav-studio {
    color:#434455;
    padding: 24px 0;
    display: block;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

 .list-nav-blue {
    position: relative;
    color: #404BBF;
 }
.list-nav-studio:hover,
.list-nav-studio:focus {
    color: #404bbf; }

.list-nav-blue::after {
    display: block;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background: #404BBF;
    position: absolute;
    content: "";
    left: 0;
    bottom: -1px; }

.logo-part-one {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    padding: 24px 0;
    position: relative; }

.logo-part-two {
    color: #2E2F42;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase; }

.nav-add {
    color:#434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32em;
    font-style: normal;
    display: flex;
    align-items: center; }

  .add {
      display: flex;
      gap: 40px; }

.list-nav-mail {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

    .list-nav-mail:hover, .list-nav-mail:focus {
    color: #404bbf }

.list-nav-add-one:last-child {
    margin-right: 0;
}
.list-nav-add-two:hover  {
color: #404bbf;
}
.list-nav-add-two:focus {
color: #404bbf; 
}
.one-section {
background-color: #2e2f42;    
background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70) ), url(../images/people.jpg);
background-position: center;
background-size: cover;
padding: 188px 0;
max-width: 1440px;
background-repeat: no-repeat;
margin: 0 auto;
}

.container: {
width: 1158px;
margin: 0 auto;
padding: 0 15px;
}

.one-section-name {
max-width: 1440px;
color: #ffffff;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
max-width: 496px;
margin-left: auto;
margin-right: auto;
margin-bottom: 48px;
text-align: center;
font-weight: 700;
text-transform: capitalize;
}
.button-one-section {
background-color: #4D5AE5;
font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
display: block;
min-width: 169px;
height: 56px;
margin: 0 auto;
padding: 16px 32px;
border-radius: 4px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.button-one-section:hover, 
.button-one-section:focus 
{
    background-color: #404BBF;
}



.two-section {
padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    clip-path: inset(100%);
    overflow: hidden; }


.two-section-container {
    display: flex;
    gap: 24px;
    }
.name-list-two-section {
    color:  #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing:0.02em;
    margin-bottom: 8px;
}
.list-two-section {
    color:  #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.list-two:last-child 
{ margin-right: 0;}
.list-two { 
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.icons-list-two {
    display: flex;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background:  #F4F4FD;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;

}



.three-section {
    background: #F4F4FD;
    padding: 120px 0;
}

.name-three-section {
        color: #2E2F42;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.three-section-container {
    display: flex;
    gap: 24px;


}
.list-three {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
     0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    flex-basis: calc((100% - 72px) / 4);
    }


.list-name-three {
    color:#2E2F42;
    font-size: 20px;
     line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px; }

.list-page-three {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center; }

.list-icons {
    display: flex;
    gap: 24px;
    
    margin-top: 8px;
    justify-content: center;
    align-items: center; }

    
.social-links-three {
    width: 40px;
    height: 40px;
     
}

.color-links {
    fill:#f4f4fd;
}
.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links:hover,
.social-links:focus {
background-color: #404bbf
}
.links {
    fill: #F4F4FD;
}

.four-section-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.four-section {
    background: #FFF;
    padding-top: 120px;
    padding-bottom: 120px;
}
.advent-list {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.advent-four:hover {
    box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.advent-four {
width: calc((100% - 48px) / 3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.advent-img {
    position: relative;
    overflow: hidden;

}

.advent-four:hover .advent-hover{
    transform: translateY(0);
}


.advent-hover {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    overflow: auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
    
}

.advent {
    padding: 32px 0;
}

.name-four-section {
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;

}

.list-name-four-section {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.list-page-four {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(0%);
    
   }

.footer-name {
    background-color:#2e2f42;
    padding: 100px 0;


}

.logo-footer-andp {
    margin-right: 120px;
}
.footer-logo-one { 
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px; }
.footer-logo-two {
    color: #F4F4FD;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.text-footer {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin-top: 16px; }
.footer-links {
    color: #FFFFFF;
    margin-bottom: 16px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;}

.list-links {
    display: flex;
    gap: 16px;
   

}

.footer-container {
   display: flex;
   align-items: baseline;
}



.links-footer:hover,
.links-footer:focus {
background-color: #31d0aa;
}

.footer-list-links {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-links:hover,
.footer-list-links:focus {
    background-color:#31D0AA;
}

.footer-img {
fill: #f4f4fd;
}


.input-container {
margin-left: 80px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: start;
gap: 16px;
margin-left: 80px;
}

.footer-label {
    display: flex;
    flex-direction: row;
    gap: 16px;


}

.footer-form {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}
.button-input {
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
    background:  #4D5AE5;
    color:#FFF;
    text-align: center;
    font-size: 16px;
     font-style: normal;
    font-weight: 1.5;
    letter-spacing: 0.03em;
    min-width: 165px;
    height: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
}

.btn-icon-footer {
    margin-left: 16px;
}

.name-input {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.input-main {
    height: 40px;
    width: 264px;
    border: 1px solid #ffffff;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    border-radius: 4px;
    background-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: #ffffff;
}

.text-icon {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:  #FFF;
    margin-bottom: 16px;
}

.backdrop {
    margin-bottom: 24px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    background: #FCFCFC;
    margin: auto;
    align-items: center;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.button-form {
    position: absolute;
    border-radius: 50%;
    background-color: #E7E9FC;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button-form:hover, 
.button-form:focus
{
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}



.icon-form {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.name-label {
  margin-bottom: 8px;
}

.text-form {
   color:  #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.form-name {
    display: block;
}

.form-name-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    }
.input-form-name {
    position: relative;
    margin-bottom: 8px;
}

.img-form {
   position: absolute;
   top: 50%;
   left: 16px;
   transform: translateY(-50%);
   fill: #2E2F42;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.person {
   height: 40px;
   border-radius: 4px;
   border: 1px solid rgba(46, 47, 66, 0.4);
   width: 360px;
   padding-left: 38px;
   background-color: transparent;
   outline: transparent;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-form:active {
border-color: #4D5AE5;
fill: #4D5AE5;

}

.person:focus {
 border-color: #4D5AE5;
fill: #4D5AE5;
}
.textaria-container {
    margin-bottom: 16px;
    width: 360px;
    height: 120px;
    
}
.comment-textaria {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    color: #8e8f99;
}



.textaria {
   color: rgba(46, 47, 66, 0.40);
   font-family: Roboto;
   font-size: 12px;
   font-weight: 400;
   line-height: 1.17;
   width: 360px;
   height: 120px;
   border-radius: 4px;
   border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
   padding: 8px 16px;
   letter-spacing: 0.04em;
   background-color: transparent;
   outline: transparent;
   resize: none;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textaria:focus {
border-color: #4D5AE5;
}

.list-chek {
    margin-bottom: 24px;
    

}

.checkbox-input {
    display: flex;
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-color: rgba(46, 47, 66, 0.40);
}

.visually-hidden {
   position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.checkbox-label {   
    display: inline-block;
    color: #8e8f99;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 24px;
    margin-top: 16px;
    }
    
.accent-color {
    color: #4d5ae5;
}



.checkbox-input:checked
+ .checkbox-label
> .checkbox-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.review-form-own-label {
    fill:#f4f4fd;
    opacity: 0;
}

.checkbox-input:checked+.checkbox-label
.review-form-own-label {
    opacity: 1;
}


.send-button {
    gap: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4D5AE5;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    padding: 16px 32px;
     
}

.send-button:hover {
    background-color: #404bbf;
    border: none;
}
.send-button:focus {
    background-color: #404bbf;
    border: none;
}

.checkbox-span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
